body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin: auto;
}

td {
    width: 30px;
    height: 30px;

    padding: 0;
    border: 1px solid lightgray;
    
    cursor: crosshair;
}

td div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btn-container {
    padding: 20px;
    text-align: center;
}